{% extends 'base.html' %}
{% load static %}

{% block title %}Kontakt{% endblock %}
{% block content %}
    <div class="container text-left">
        <h2 class="text-center pb-2">Kontakt</h2>
        <div class="row">
            <div class="col-4">
                <address>
                    <h4>Penzion Slávka</h4>
                    Vestec u Běstviny 16<br>
                    538 43 Třemošnice<br>
                    <p>
                        <i class="bi bi-telephone-fill"></i> +420 731 488 405 <br>
                        <i class="bi bi-envelope-fill"></i> tova.tremosnice@seznam.cz
                    </p>
                </address>
                <address>
                    <h3>Provozovatel</h3>
                    <h4>TOVA Třemošnice s.r.o.</h4>
                    Budovatelů 440<br>
                    538 43 Třemošnice<br>
                    <div>IČO: 26007321</div>
                </address>


            </div>
            <div class="col-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8319.71485884764!2d15.583889108751976!3d49.84086951281098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c4cef0defa69b%3A0xfba080d0260ace1c!2sPenzion%20Sl%C3%A1vka!5e1!3m2!1scs!2scz!4v1758479395441!5m2!1scs!2scz"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
{% endblock %}