{% extends 'base.html' %}
{% load static %}

{% block title %}Okolí{% endblock %}
{% block content %}
    <div class="container text-left">
        <div class="text-center">
            <h3>Tipy na okolí</h3>
        </div>

        {#Chráněná krajinná oblast Železné hory#}
        <div class="row">
            <div class="col">
                <h4>Chráněná krajinná oblast Železné hory</h4>
                <div>
                    Cyklotrasy a trasy pro pěší k pískovcovým skalám v borovém lese, vhodné pro rodiny, a hornické
                    muzeum.
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <a href="https://zeleznehory.aopk.gov.cz//" target="_blank">
                    <img id="img-tip" src="{% static 'media/chko_zh.jpeg' %}"
                         alt="Chybějící obrázek CHKO Železné hory" class="img-fluid>">
                </a>
            </div>
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d173556.98695597763!2d15.605072790672278!3d49.795589015866895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470db22af71f5623%3A0xaa694560d31be641!2zQ2hyw6FuxJtuw6Ega3JhamlubsOhIG9ibGFzdCDFvWVsZXpuw6kgaG9yeQ!5e0!3m2!1scs!2scz!4v1758135287561!5m2!1scs!2scz"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        {#Město Třemošnice#}
        <div class="row">
            <div class="col">
                <h4>Město Třemošnice</h4>
                <div>
                    Město Třemošnice poskytuje veškeré obvyklé služby.
                </div>
                <br>
                <ul>
                    <li>doprava autobus, vlak Třemošnice – Čáslav</li>
                    <li>restaurace, obchody</li>
                    <li>sportovní areál</li>
                </ul>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <a href="https://www.tremosnice.cz/" target="_blank">
                    <img id="img-tip" src="{% static 'media/tremosnice.jpg' %}"
                         alt="Chybějící obrázek města Třemošnice" class="img-fluid">
                </a>
            </div>
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41147.351855783505!2d15.565833427483735!3d49.86670150039383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c4c7c1819a50b%3A0xb5675ad5285127b4!2zVMWZZW1vxaFuaWNl!5e0!3m2!1scs!2scz!4v1758050128640!5m2!1scs!2scz"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        {#Vodní nádrž Seč#}
        <div class="row">
            <div class="col">
                <h4>Přehrada Seč</h4>
                <div>
                    Na přehradu Seč se z penzionu Slávka dostanete jak autem, tak i na kole a pěšky. Záleží jen na vás,
                    co si vyberete a jakou energii chcete výletu věnovat..
                </div>
                <br>
                <ul>
                    <li>
                        autokemp Pláž , restaurace, občerstvení, možnost koupání, plážový volejbal, vodní sporty –
                        půjčovna
                    </li>
                    <li>zřícenina hradu Oheb</li>
                    <li>zřícenina hradu Vildštejn</li>
                </ul>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <a href="https://www.tremosnice.cz/" target="_blank">
                    <img id="img-tip" src="{% static 'media/vodni_nadrz_sec.webp' %}"
                         alt="Chybějící obrázek města Třemošnice" class="img-fluid">
                </a>
            </div>
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17313.815707798083!2d15.642226617813094!3d49.829038390390814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470db3e65298c5f9%3A0xea7af66926dc511d!2zUMWZZWhyYWRhIFNlxI0!5e0!3m2!1scs!2scz!4v1758135725703!5m2!1scs!2scz"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        {#Zřícenina hradu Lichnice#}
        <div class="row">
            <div class="col ">
                <h4>Zřícenina hradu Lichnice</h4>
                <div>Na zříceninu hradu Lichnice můžete dojít 5km příjemnou procházkou přes Třemošnici nebo 8km více
                    přírodou přes Kubíkovy Duby. V sezóně vás je na Podhradí otevřeno i několik malých občerstvenín.
                    V blízkosti hradu poutá pozornost návštěvníků památný strom Žižkův dub a Dívčí kámen, místo
                    opředená pověstí.
                </div>

                <ul>
                    <li>krásný výhled do okolí</li>
                    <li>občerstvení</li>
                    <li>rozhledna Milada</li>
                </ul>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <a href="https://www.tremosnice.cz/zivot-ve-meste/lichnice/" target="_blank">
                    <img id="img-tip" src="{% static 'media/lichnice.webp' %}"
                         alt="Chybějící obrázek Zříceni hradu Lichnice" class="img-fluid">
                </a>
            </div>
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d71762.91847500428!2d15.561400609956259!3d49.83631963210423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c4b81ecc42683%3A0x12e2925150c96eec!2sZ%C5%99%C3%ADcenina%20hradu%20Lichnice!5e0!3m2!1scs!2scz!4v1758134798844!5m2!1scs!2scz"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        {#Zámek Žleby#}
        <div class="row">
            <div class="col">
                <h4>Zámek Žleby</h4>
                <div>V dnešní době všude dojedeme autem, takže cesta místní lokálkou, která jezdí na trase
                    Třemošnice –
                    Čáslav, by mohla být příjemným zpestřením vašeho pobytu. Lokálka má v obci Žleby dvě zastávky a
                    vy
                    si
                    tak můžete vybrat na které vystoupíte a krátkou procházkou dojdete na zámek.
                    V těsné blízkosti se nachází <a href="https://www.milujemeprirodu.cz/obora-zleby/" target="_blank">Obora
                        Žleby</a>,
                    kde
                    jsou k vidění bílí jeleni, dravci, sovy, lesní zvěř a
                    zvířata ze záchranné stanice.
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <a href="https://www.zamek-zleby.cz/cs" target="_blank">
                    <img id="img-tip" src="{% static 'media/zamek_zleby.jpg' %}"
                         alt="Chybějící obrázek Státního zámku Žleby" class="img-fluid">
                </a>
            </div>
            <div class="col">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8646.274474559927!2d15.48841731737045!3d49.88842453589176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c4ed31066f375%3A0xc8ecfe2778df45e6!2zWsOhbWVja8O9IHBhcmsgxb1sZWJ5!5e0!3m2!1scs!2scz!4v1758135644176!5m2!1scs!2scz"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        {#Lom Borek#}
        <div class="row">
            <div class="col">
                <h4>Lom Borek</h4>
                <div>Krásná příroda, skály, křišťálově čistá voda, koupání a ráj potápěčů. To vše pouhých 7km od
                    našeho penzionu.
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <img id="img-tip" src="{% static 'media/lom_borek.jpg' %}"
                     alt="Chybějící obrázek Lomu Borek" class="img-fluid">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21692.41968338256!2d15.581506088371713!3d49.80026664628458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470c4d588d1efe95%3A0xbd335a422f0442b8!2sBoreck%C3%A1%20skalka!5e0!3m2!1scs!2scz!4v1758135100408!5m2!1scs!2scz"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>
{% endblock %}