{% extends 'base.html' %}
{% load static %}

{% block title %}Rezervace{% endblock %}7
{% block content %}
    <div class="container text-left">
        <h2 class="text-center">Rezervace</h2>

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <form class="border border-secondary rounded p-4">
                    {% csrf_token %}
                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label">Jméno</label>
                            <div>
                                {{ form.first_name }}
                            </div>
                        </div>

                        <div class="col mb-2">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label">Příjmení</label>
                            <div>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.address.id_for_label }}" class="form-label">Ulice/číslo popisné</label>
                            <div>
                                {{ form.address }}
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.postal_code.id_for_label }}" class="form-label">PSČ</label>
                            <div>
                                {{ form.postal_code }}
                            </div>
                            <div class="invalid-feedback">Zadajte telefonní číslo ve správném tvaru.</div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.city.id_for_label }}" class="form-label">Město</label>
                            <div>
                                {{ form.city }}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                            <div>
                                {{ form.email }}
                            </div>
                            <div id="emailHelp" class="form-text">Email nebude sdílen s žádnou třetí stranou.</div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.phone.id_for_label }}" class="form-label">Telefon</label>
                            <div>
                                {{ form.phone }}
                            </div>
                            <div class="invalid-feedback">Zadajte telefonní číslo ve správném tvaru.</div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.arrive_date.id_for_label }}" class="form-label">Datum příjezdu</label>
                            <div>
                                {{ form.arrive_date }}
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.departure_date.id_for_label }}" class="form-label">Datum odjezdu</label>
                            <div>
                                {{ form.departure_date }}
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.no_of_nights.id_for_label }}" class="form-label">Počet nocí</label>
                            <div>
                                {{ form.no_of_nights }}
                            </div>
                            <div class="invalid-feedback">
                                Počet nocí musí být alespoň 1.
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.no_of_adults.id_for_label }}" class="form-label">Počet dospělých
                                osob</label>
                            <div>
                                {{ form.no_of_adults }}
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.no_of_kids.id_for_label }}" class="form-label">Počet dětí od 3 do 12
                                let</label>
                            <div>
                                {{ form.no_of_kids }}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.no_of_rooms.id_for_label }}" class="form-label">Počet pokojů</label>
                            <div>
                                {{ form.no_of_rooms }}
                            </div>
                            <div class="invalid-feedback">
                                Počet pokojů musí být větší jak 0.
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.room_type.id_for_label }}" class="form-label">Typ pokoje</label>
                            <div>
                                {{ form.room_type }}
                            </div>
                            <div class="invalid-feedback">
                                Typ pokoje musí být vybrán.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.description.id_for_label }}" class="form-label">Zpráva pro penzion</label>
                        <div>
                            {{ form.description }}
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Odeslat</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}