{% extends 'base.html' %}
{% load static %}

{% block title %}Rezervace{% endblock %}7
{% block content %}
    <div class="container text-left">
        <h2 class="text-center">Rezervace</h2>

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <form method="post" class="border border-secondary rounded p-4">
                    {% csrf_token %}
                    <!-- ✅ zobrazí celkové chyby z clean() -->
                    {% if form.non_field_erros %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_erros %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>

                    {% endif %}
                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.first_name.id_for_label }}" class="form-label">Jméno</label>
                            <div>
                                {{ form.first_name }}
                                {% for error in form.first_name.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col mb-2">
                            <label for="{{ form.last_name.id_for_label }}" class="form-label">Příjmení</label>
                            <div>
                                {{ form.last_name }}
                                {% for error in form.last_name.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.address.id_for_label }}" class="form-label">Ulice/číslo popisné</label>
                            <div>
                                {{ form.address }}
                                {% for error in form.address.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-2 mb-2">
                            <label for="{{ form.postal_code.id_for_label }}" class="form-label">PSČ</label>
                            <div>
                                {{ form.postal_code }}
                                {% for error in form.postal_code.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.city.id_for_label }}" class="form-label">Město</label>
                            <div>
                                {{ form.city }}
                                {% for error in form.city.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                            <div>
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.phone.id_for_label }}" class="form-label">Telefon</label>
                            <div>
                                {{ form.phone }}
                                {% for error in form.phone.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.arrive_date.id_for_label }}" class="form-label">Datum příjezdu</label>
                            <div>
                                {{ form.arrive_date }}
                                {% for error in form.arrive_date.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.departure_date.id_for_label }}" class="form-label">Datum odjezdu</label>
                            <div>
                                {{ form.departure_date }}
                                {% for error in form.departure_date.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
{#                        <div class="col mb-2">#}
{#                            <label for="{{ form.no_of_nights.id_for_label }}" class="form-label">Počet nocí</label>#}
{#                            <div>#}
{#                                {{ form.no_of_nights }}#}
{#                                {% for error in form.no_of_nights.errors %}#}
{#                                    <div class="text-danger small">{{ error }}</div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        </div>#}
                    </div>

                    <div class="row mb-2">
                        <div class="col mb-2">
                            <label for="{{ form.no_of_adults.id_for_label }}" class="form-label">Počet dospělých
                                osob</label>
                            <div>
                                {{ form.no_of_adults }}
                                {% for error in form.no_of_adults.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.no_of_kids.id_for_label }}" class="form-label">Počet dětí od 3 do 12
                                let</label>
                            <div>
                                {{ form.no_of_kids }}
                                {% for error in form.no_of_kids.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-4 mb-2">
                            <label for="{{ form.no_of_rooms.id_for_label }}" class="form-label">Počet pokojů</label>
                            <div>
                                {{ form.no_of_rooms }}
                                {% for error in form.no_of_rooms.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col mb-2">
                            <label for="{{ form.room_type.id_for_label }}" class="form-label">Typ pokoje</label>
                            <div>
                                {{ form.room_type }}
                                {% for error in form.room_type.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="{{ form.description.id_for_label }}" class="form-label">Zpráva pro penzion</label>
                        <div>
                            {{ form.description }}
                            {% for error in form.description.errors %}
                                    <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Odeslat</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}